.logoBox{
    display: flex;
    justify-content:space-between;
    
}


.homeLogo{
    color:#5D5953;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    padding:10px;
    display: flex;
}
.homeLogoX{
    color:red;
    display: inline;
}
.homeLogoSports{
    display: inline;
}

.loginBox{
    font: 13px/27px Roboto,Arial,sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content:space-between;
    padding : 10px 
}

.signUpOrMypage, .loginOut{
    padding: 8px;
}

